.App {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 60%;
  margin: 0 auto;
}

.card {
  margin: 1rem;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}

.card-content {
  width: 50%;
  height: 50%;
  margin: auto;
  user-select: none;
  font-size: 2rem;
}

@media only screen and (max-width: 766px) {
  .card-container {
    width: 100%;
  }
  .card {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 770px) {
  .card-container {
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .card {
    margin: 1rem 2rem;
  }
}

.MuiPaper-root.MuiPaper-elevation1.MuiCard-root.card.matched.MuiPaper-rounded {
  background-color: green;
  color: white;
}

.MuiPaper-root.MuiPaper-elevation1.MuiCard-root.card.mismatched.MuiPaper-rounded {
  background-color: red;
  color: white;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
  margin-left: 0.5rem;
}
